// Footer
// ------------------------------------------------------------------------------------------------

footer {
    background: $color-black;
    background-size: cover;
    background-repeat: no-repeat;

    @include MQ(S) {
        height: 520px;  
        background-size: 50% 100%;
        background-position: bottom right;         
    }

    .footer-row {
        @include MQ(XS) {
            flex-direction: row-reverse;
        }
    }

    .footer-block {
        @include MQ(S) {
            height: 520px;
            display: flex;
            align-items: center;  
            padding: 0;   
        }
    }

    .contact-info {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
    
    p {
        color: $color-white;
        font-size: 1.5rem;
        font-family: $font-secondary;
        line-height: 26px;

        &.email {
            margin: 3.0rem 0;
        }
    }

    .legal {
        p {
            font-size: 1.2rem;
            color: rgba(255, 255, 255, 0.4);
            line-height: 18px;
            font-family: $font-primary;
        }
    }

    .logo-icon {
        margin-bottom: 4.0rem;
    }

    .quote {
        p {
            font-size: 1.9rem;
            line-height: 32px;
            letter-spacing: 0.04rem;
            position: relative;
            margin-bottom: 6.5rem;
            
            &.source {
                font-size: 1.3rem;
                letter-spacing: 0.022rem;
                color: rgba(255, 255, 255, 0.8);
                margin-bottom: 0;
            }
        }
    }
}

.single-news {
    .menu-item-69 {
        border-top: 2px solid $color-blue-dark;
        border-bottom: 2px solid $color-blue-dark; 
    }
}

@media screen and (max-width: 991px) {
    .footer-block { 
        padding: 6.0rem;

        &.contact-block {
            background: $color-black;
            margin-left: -3.0rem;
            width: calc(100% - 6.0rem);
        }

        &.quote-block {
            padding: 3.0rem;
        }
    }
}

.quote-mark {    
    position: relative;
    left: -30px;
    
    &:before {
        content: '“';
        font-size: 6.0rem;
        bottom: 0;
        left: 0;
        display: inline-block;
        color: $color-white;
    }
}
