// Global Styles
// ------------------------------------------------------------------------------------------------

.loading {
    height: 100%;
    width: 100%;
    background: $color-white;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 99999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .path {
        stroke-dasharray: 236;
        stroke-dashoffset: 236;
        animation: dash 3s infinite;
        transition-timing-function: ease-in-out;
      }
      
      @keyframes dash {
        from {
          stroke-dashoffset: 472;
        }
        to {
          stroke-dashoffset: 0;
        }
      }
      
      p {
        color: #CABEC7;
        font-size: 13px;
        letter-spacing: 3px;
        font-weight: 500;
        margin: 1em auto;
      }      
}

.ajax-load-more-wrap.infinite button.alm-load-more-btn {
    position: relative;
    z-index: 1;
}

// .alm-loading {
//     margin: 400px auto;
//     min-height: 600px;
// }

.bg-image {
    background-color: #F2F2F2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    //height: 500px;
}

// Logos

.logo-icon {
  background: url('../../images/logo-w.png');
  height: 67px;
  width: 87px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

// Arrows

.down-arrow {
  content: '';
  background: url('../../images/down-arrow.svg');
  height: 33px;
  width: 33px;
  background-size: 33px;
  position: absolute;
  bottom: 5vh;
}

.chevron-arrow-right {
  display: inline-block;
  border: 2px solid $color-blue-light;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  margin-right: 1.0rem;

  &:after {
    content: '';
    display: inline-block;    
    border-right: 2px solid $color-blue-light;
    border-bottom: 2px solid $color-blue-light;
    width: 4px;
    height: 4px;  
    transform: rotate(-45deg);    
    position: relative;
    bottom: 1px;
    left: 4px;
  }
}
