// Masonry Layout
// ------------------------------------------------------------------------------------------------

// .grid-item {
//     min-height: 400px;
//     width: 100%;
// }

.masonry-layout {
    margin-top: 6.0rem;
    position: relative;

    @include MQ(S) {
        min-height: 700px;        
    }
}

.alm-listing {
    display: flex;
}

.grid-item{
    a {
        position: relative;

        &::before {
            content: 'READ \A MORE';
            //border-radius:120px;
            //font-weight: bold;
            height: 80px;
            width: 80px;
            background: $color-white;
            position: absolute;
            // top: calc(50% - 102px);
            // top: calc(50% - 90px);        
            left: 0;
            right: 0;
            margin: 0 auto;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: 1.0rem;
            white-space: pre;
            cursor: pointer;
            
            opacity: 0;
            @include global-transition;        
        }    

        &:hover {
            &::before {
                opacity: 1;
                @include global-transition;
            }
        }    
    }

    &.notable-works {
        a {

            &::before {
                content: 'DETAILS';
                border-radius:120px;
                //font-weight: bold;
                height: 80px;
                width: 80px;
                background: $color-white;
                position: absolute;
                // top: calc(50% - 102px);
                left: 0;
                right: 0;
                margin: 0 auto;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                font-size: 1.0rem;
                white-space: pre;
                
                opacity: 0;
                @include global-transition;        
            }    
            
            &:hover {
                &::before {
                    opacity: 1;
                    @include global-transition;
                }
            }        
        }
}
    

    a {
        display: block;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    
    }

    img {
        width: 100%;
        height: 100%;
        flex-shrink: 0;
        max-width: 350px;
    }

    .artist-info,
    .publications-info {
        padding: 1.6rem 0 2.2rem 0;  

        p {
            line-height: 30px;   
            letter-spacing: 0.04rem;
            font-family: $font-secondary;
        }
        
        label {
            font-size: 1.3rem;
            line-height: 1.9rem;
            letter-spacing: 0.05rem;
            font-family: $font-secondary;
            color: $color-grey;
        }
    }

    .artist-info {
        p {
            font-size: 2.4rem;
        }
    }

    .publications-info {
        p {
            font-size: 2.1rem;
            margin-bottom: 0.5rem;
        }
    }
    
    .notable-works {
        padding: 1.6rem 0 3.2rem 0;

        p {
            font-size: 1.3rem;
            //line-height: 30px;
            letter-spacing: 0.04rem;
            color:$color-grey-dark;
        }

        label {
            font-size: 1.3rem;
            //line-height: 1.9rem;
            letter-spacing: 0.05rem;
            font-family: $font-secondary;
            color: $color-grey;
        }
        
    }

    .publications {
        padding: 1.6rem 0 3.2rem 0;

        p {
            font-size: 1.3rem;
            //line-height: 30px;
            letter-spacing: 0.04rem;
            color:$color-grey-dark;
        }

        label {
            font-size: 1.3rem;
            //line-height: 1.9rem;
            letter-spacing: 0.05rem;
            font-family: $font-secondary;
            color: $color-grey;
        }
        
    }
 }

//  DEFINE MASONRY WIDTHS

.masonry-layout {
    margin-left: -17.5px;
    margin-right: -17.5px;
    
    .grid-item {
        margin: 0 17.5px 17.5px 17.5px;
        width: calc(33.3% - 35px);
        float: left;
        position: relative;    

        &:nth-child(3n+3) {
            margin: 0 0 17.5px 17.5px;
        }
        
        @media screen and (max-width: 991px) {
            width: calc(50% - 35px);
        }
    }

    &.col-4-layout {
        .grid-item {
            width: calc(25% - 35px);

            @media screen and (max-width: 991px) {
                width: calc(50% - 35px);
            }    

            &:nth-child(4n+4) {
                margin: 0 0 17.5px 17.5px;
            }

            &:nth-child(3n+3) {
                margin: 0 17.5px 17.5px 17.5px;
            }    
        }
    }
}