// Navigation
// ------------------------------------------------------------------------------------------------

nav {
  height: 63px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: $color-white;  
  z-index: 9;
  border-bottom: 1px solid transparent;
  
  @include global-transition-4s;    

  @include MQ(M) {
    height: 10rem;      
  }

  &.shrink {
    @include MQ(M) {
      height: 7rem;
      border-bottom: 1px solid $color-border;      
      @include global-transition-4s;        
    }
  }
}

.logo {
    background-image: url('../../images/logo.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 165px;
    height: 46px;
    width: 184px;
    display: inline-block;
    position: relative;
}

.nav-items {
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: $color-white;
    z-index: 9;
    height: 63px;
    max-width: 1500px;
    margin: 0 auto;
    @include global-transition-4s;

    @include MQ(M) {
      display: flex;
      height: 10rem;      
    }

    &.shrink {
      @include MQ(M) {
        height: 7.0rem;
        @include global-transition-4s;        
      }
    }

    li {
        position: relative;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.2rem;
        cursor: pointer;
        padding: 16px 0;
        color: $color-grey-opacity;

        @include MQ(M) {
          padding: 0.7rem 0;  
          display: block !important; 
        } 

        &.current_page_item {     
          color: $color-grey-dark;
          
            @include MQ(M) {
              border-top: 2px solid $color-blue-dark;
              border-bottom: 2px solid $color-blue-dark;  
            }
        }

        &:nth-of-type(n+5) {
          order: 2;
        }       
    }
  }

  .logo {
    order: 1;
  }

  @media all and (max-width: 1024px) {
    .nav-items {
      flex-direction: column;
      align-items: stretch;
      border-bottom: 1px solid $color-border;      

      .logo {
        order: 0;
        display: flex;
        position: relative;
        margin: 13px auto;
        height: 37px;
        width: 147px;  
        background-size: 147px;        
      }

      li {
        text-align: center;
        border-bottom: 1px solid #111;
        display: none;

        &:first-child {
          border-top: 1px solid $color-blue-dark;          
        }
      }  

      &.active {
        height: 100vh;
        @include global-transition;    
      }
    }
  }

  // Close Navigation Menu

.nav-controls {
  cursor: pointer;  
  width: 30px;
  height: 18px;
  position: absolute;
  display: block;
  top: 22px;
  right: 24px;

  .line {
    display: block;
    background: #8E8F9B;
    width: 30px;
    height: 2px;
    position: absolute;
    left: 0;
    @include global-transition;
    
    &.line-1 {
      top: 0;      
    }

    &.line-2 {
      top: 50%;
      
    }

    &.line-3 {
      top: 100%;
    }
  }

  &.active {
    .line {
      &.line-1 {
        transform: translateY(8px) translateX(0) rotate(45deg);
      }
  
      &.line-2 {
        opacity: 0;
        
      }
  
      &.line-3 {
        transform: translateY(-9px) translateX(0) rotate(-45deg);
      }  
    }
  }

  @include MQ(M) {
    display: none
  }
}
