    
.section-block {
    padding: 4.0rem 0;
    background: $color-white;    

    @include MQ(S) {
        padding: 9.0rem 0;
    }

    .bg-image {
        background-color: #F2F2F2;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 450px;
        max-width: 100%;
    }

    img,
    .bg-image {
        margin-bottom: 4.0rem;
        height: 200px;

        @include MQ(XS) {
            height: initial;
        }
        
        @include MQ(S) {
            margin-bottom: 0;
        }        
    }

    .text-block {
        padding-top: 25px;

        h3 {
            margin-bottom: 2.2rem;
        }

        p {
            &:not(:last-child) {
                margin-bottom: 2.0rem;                
            }
        }
    }

    &:nth-child(even) {        
        .row {
            flex-direction: row-reverse;
            
            .col-sm-offset-1 {
                margin: 0 auto;

                @include MQ(XS) {
                    margin-right: 8.33333333%;
                    margin-left: 0;    
                }
            }           
        }
    }


    &:nth-child(odd) {
        background: rgba(245, 245, 245, 0.8);
        
        .row {
            flex-direction: row;
        }
    }

    @media screen and (max-width: 767px) {

        .text-block {
            h3 {
                min-height: 175px;        
                padding-left: 2.4rem;
                margin-bottom: 0;        
            }

            p {
                margin-left: -100%;
                margin-top: 40px;
                line-height: 29px;
                font-size: 1.8rem;        
            }

            &.history {
                h3 {
                    min-height: 150px;
                }

                span {
                    padding-left: 2.4rem;
                }
            }
        }

        img {
            display: block;
            width: 100%;
            object-fit: cover;
        }

        &:nth-of-type(1) {
            padding: 6.0rem 0 4.0rem 0;
        }

        &:nth-child(even) {        
            .text-block {
                h3 {
                    padding-right: 2.4rem;
                    padding-left: 0;
                } 
                
                span {
                    padding-right: 2.4rem; 
                    padding-left: 0;                       
                }

                p {
                    margin-right: -100%;
                    margin-left: 0;
                }        
            }
        }
    }
}    

