// Project Settings
// ------------------------------------------------------------------------------------------------

// Consistent settings
// $br: 5px; // Border-radius
// $btn-br: 5px; // Button border-radius
// $font-size: 100%; // Global default font size
// $padding: 40px; // Padding and margins
// $line-height: 44px; // Consistent height for buttons, inputs etc.


// $font-secondary:                    "Brown-Light", sans-serif;
// $font-tertiary:                     "Brown-Regular", sans-serif;

// Colors
// ------------------------------------------------------------------------------------------------

$color-white:          #FFFFFF;
$color-blue:           #292F4B;
$color-blue-dark:      #292F4B;
$color-blue-light:     #8AADC7;
$color-grey-dark:      #434558;
$color-grey:            #888286;
$color-grey-opacity:   rgba(67, 69, 88, 0.6);
$color-black:          #232632;
$color-border:          #CABEC7;
$color-grey-light: 		#F2F2F2;

// Breakpoints
// ------------------------------------------------------------------------------------------------

$XS: 768px;
$S: 992px;
$M: 1025px;
$L: 1199px;
