
.history-body{

    .row:nth-child(even) {
        .content-block {
            @include MQ(S) {
                padding: 0 0 4.0rem 1rem;					
            }
        }
    }
}

.history-content{
    margin-top: 7rem;
    padding: 1rem 9rem 0 2rem;
    margin-bottom: 13rem;
    
    p{
        font-family: Avenir Next;  
    }

}

.section-image{
    .bg-image {
        background-color: #F2F2F2;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 450px;
        max-width: 100%;
        margin: 7rem 2rem 13rem 6rem;
        justify-content: center;
    }
}