// Homepage Specific Styles
// ------------------------------------------------------------------------------------------------
.home {
    section {
        padding: 6.0rem 0;

        @include MQ(S) {
            padding: 12rem 0;            
        }
    }

    .featured-artist-row {
        margin: 5.0rem 0;

        @include MQ(S) {
            margin: 10rem 0 0 0;            
        }

        .img-wrap {
            margin-bottom: 1.2rem;
        }

        p {
            font-size: 1.3rem;
            line-height: 26px;
            margin-bottom: 1.2rem;
            font-family: $font-secondary;
        }

        .col-sm-3 {
            padding: 0 15px;
        }
    }
}
