// News Specific Styles
// ------------------------------------------------------------------------------------------------

.news-index {
    padding-top: 4.8rem;
    border-top: 1px solid $color-border;

    .news-info {
        padding: 3.4rem 0 0;

        @include MQ(S) {
            padding: 0 0 0 3.4rem;
        }
    }

    .fill {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        height: 200px;
        
        img {
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden        
        }
    }

    h4 {
        margin-bottom: 1.0rem;
    }

    p {
        margin-bottom: 1.6rem;
    }

    .read-more {
        color: $color-blue-light;
        font-size: 1.1rem;
        letter-spacing: 1px;
        font-weight: 600;
        text-transform: uppercase;

        &:hover {
            color: $color-black;

            .chevron-arrow-right {
                display: inline-block;
                border: 2px solid $color-black;
              
                &:after {
                  content: '';
                  display: inline-block;    
                  border-right: 2px solid $color-black;
                  border-bottom: 2px solid $color-black;
                }
              }              
        }
    }

    .bg-image {
        height: 300px;

        @include MQ(S) {
            height: 200px;
            
        }
    }

    .row {
        margin-bottom: 4.8rem;
    }
}

.news-content {
    padding: 8.8rem 0 7.2rem 0;
    background: $color-white;

    &.intro {
        p {
            &:nth-of-type(1) {
              &:first-letter {
                float: left;
                font-size: 54px;
                margin-right: 25px;
                border: 2px solid;
                padding: 18px 30px;
                line-height: 1;
                font-family: $font-secondary;
              }
            }
        }    
    }

    p {
        margin-bottom: 1.5em;
        line-height: 29px;
        font-size: 1.8rem;
        display: inline-block;
      }

    h3 {
        font-size: 3.0rem;
        line-height: 38px;
        letter-spacing: 0.05rem;
        margin: 3.0rem 0;
    }
}

.gallery-spotlight {
    padding: 6.0rem 0;
    height: 540px;
    background: rgba(202, 190, 199, 0.1);
}