// Notable Works Specific Styles
// ------------------------------------------------------------------------------------------------

.notable-works-content {
    //padding: 3.0rem 3rem 0 0;
    // text-align: center;
    //  margin: 8rem 0 0 0;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;

    h3 {
        margin-bottom: 1.0rem;
        text-align: center;
    }

    label {
        font-family: $font-secondary;
        //border-bottom: 1px solid $color-border;
        // padding-bottom: 3.6rem;
        // margin-bottom: 3.6rem;
        // padding-top: 2rem;
        display: inline-block;
        font-size: 1.3rem;
    }    
}

.nw-modal-img-wrapper {
    // height: 100vh;
}

.nw-modal-img {
    max-height: 800px;
    width: 100%;

    // @media screen and (max-height: 800px){
    //     height: 300px;    
    // }
}

// .bg-image {
//     background-size: contain;
//     max-width: 100%;
//     height: 450px;
//     margin-bottom: 3.6rem;

//     @include MQ(XL) {
//         height: 700px;
//     }
// }

.notable-works {
    p {
        font-family: $font-secondary;
        color: $color-grey;
    }

    .main-label {
        color: $color-blue-dark;
        font-style: normal;
    }
}