// Publications Specific Styles
// ------------------------------------------------------------------------------------------------

.single-publications-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include MQ(M) {
        height: calc(100vh + 65px);
        
    }
    
    .publications-content{
        padding: 25px 0 50px 0;
        border-top: 1px solid $color-border;
        
        @include MQ(XS) {
            padding: 6.0rem 20% 0 0;     
            border-top: 0;       
        }
        
        h3 {
            margin-bottom: 1.0rem;
        }
    
        label {
            font-family: $font-secondary;
            //border-bottom: 1px solid $color-border;
            //padding-bottom: 3.6rem;
            padding-bottom: 3.0rem;
            
            @media screen and (max-width: 767px) {
                width: 100%;
            }
        }    

         .pub-border {
            //border-bottom: 1px solid $color-border;
             //padding-bottom: 3.6rem;
             color: $color-grey;
         } 

         .pub-font{

            font-family: Avenir Next; 
            font-size: small;
        }

        .pub_date{
            color: $color-grey;
            font-style: italic;
        }

         p {
            border-top: 1px solid $color-border;
            margin-bottom: 2rem;
            //margin-top: 2rem;
            padding-top: 3rem;
            line-height:20px;
        }
    }

    .gallery-slider {
        // height: 670px;    

        // @media screen and (max-width: 767px) {
        //     height: auto;            
        // }
        
        // @media screen and (max-height: 800px){
        //     height: 540px;    
        // }
        
        .bg-image {
            height: 400px;
            background-size: contain;

            @media screen and (max-width: 767px) {
                background-size: cover;                
            }

            @include MQ(L) {
                height: 570px;
                
            }
        }

        
        label {
            height: auto;
            display: inline-block;
            font-size: 1.3rem;
            padding: 35px 40px 20px 40px;

            @include MQ(XS) {
                height: 60px;
                padding: 0;
                display: flex;
                justify-content: center;
                align-items: flex-end;    
            }

            @include MQ(S) {

            }

            @include MQ(M) {

            }

            @include MQ(L) {

            }

            span {
                font-family: $font-primary;
                margin-left: 3px;
            }
        }
    }
    
}

.modal-close {
    position: absolute;
    top: 30px;
    right: 30px;
}
.publications-info {
    p {
        font-family: $font-secondary;
    }

    label {
        cursor: default;
    }
}

    


