// Buttons
// ------------------------------------------------------------------------------------------------

.btn {
    &.rounded {
        padding: 9px 0;
        min-width: 125px;
        font-size: 1.3rem;
        font-weight: 500;
        display: inline-block;
        text-align: center;
        border-radius: 56px;
        cursor: pointer;

        &.light {
            background: $color-white;
            color: $color-blue-dark;

            &:hover {
                background: $color-grey-dark;
                color: $color-white;    
            }
        }

        &.dark {
            background: $color-grey-dark;
            color: $color-white;

            &:hover {
                background: $color-white;
                color: $color-blue-dark;    
            }
        }
    }

    &.trigger-drawer {
        border: 1px solid $color-grey-dark;
        border-radius: 20px;
        width: 136px;
        padding: 8px 0;
        position: relative;
        font-size: 1.3rem;

        &:before {
            content: 'Filter Results';
        }

        &.active {
            border: 1px solid transparent;
            
            &:before {
                content: 'Collapse Filters';
            }    
        }
    }
}