// Modal Style

.main-modal {
    position: fixed;
    background: $color-white;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: scroll;
    display: none;
    z-index: 10;
    @include global-transition;

    // &.active {
    //     opacity: 1;
    //     z-index: 10;   
    //     @include global-transition;
    // }

    @include MQ(S) {
        overflow: hidden;
    }

    .modal-close {
        position: absolute;
        top: 30px;
        right: 30px;
    }

    .close {
        &::before, &::after {
            content: '';
            background: $color-grey-dark;
          }        
    }
}

// Contact Modal

.contact-modal {
    height: 100vh;
    position: fixed;
    background: $color-black;
    width: 100vw;
    top: 0;
    right: 0;
    z-index: 20;
    transform: translateX(100%);
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include global-transition;

    @include MQ(S) {
        width: 50vw;
    }

    &.active {
        transform: translateX(0);
        opacity: 1;
        @include global-transition;        
    }

    label {
        margin: 6rem 0 2rem 0;
        font-size: 1.5rem;
        // color: rgba(255,255,255,0.4);
        color: $color-border;
        text-transform: uppercase;
    }

    .contact-info {
        padding-left: 100px;
    
        h3 {
            color: $color-white;
            line-height: 46px;
            font-size: 30px;        
        }
    }
}

