/* Arrows */

.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: calc(50% - 75px);
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    z-index: 9999;    
    display: none !important;
    
    @include MQ(S) {
        display: flex !important;
        justify-content: center;
        align-items: center;
        align-self: center;
    
    }
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    color: transparent;
    outline: none;
    background: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: .25;
}

.slick-prev:before,
.slick-next:before {
    display: block;
    z-index: 99999;
}

.slick-prev {
    left: -16px;
}

[dir='rtl'] .slick-prev {
    right: 16px;
    left: auto;
}

.slick-prev:before {
    content: '';
    color: white;
    background-image: url('../../images/arrow-left.svg');
    height: 33px;
    width: 33px;
    background-size: 33px;
}

[dir='rtl'] .slick-prev:before {
    content: '';
    background-image: url('../../images/arrow-left.svg');
    height: 33px;
    width: 33px;
    background-size: 33px;
}

.slick-next {
    right: -20px;
}

[dir='rtl'] .slick-next {
    right: auto;
    left: 5px;
}

.slick-next:before {
    content: '';
    background: url('../../images/arrow-right.svg');
    height: 33px;
    width: 33px;
    background-size: 33px;
}

[dir='rtl'] .slick-next:before {
    content: '';
    background: url('../../images/arrow-right.svg');
    height: 33px;
    width: 33px;
    background-size: 33px;
}

/* Dots */

.slick-dots {
    position: absolute;
    bottom: 40px;        
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;

    @include MQ(XS) {
        bottom: 35px;        
    }

    @include MQ(S) {
        bottom: 25px;        
    }

    li {
        position: relative;
        display: inline-block;
        height: 20px;
        width: 20px;
        margin: 0 1px;
        padding: 0;
        cursor: pointer;
        
        button {
            font-size: 0;
            line-height: 0;
            display: block;
            height: 20px;
            width: 20px;
            cursor: pointer;
            color: transparent;
            border: 0;
            outline: none;
            background: transparent; 
            
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                height: 7px;
                width: 7px;
                text-align: center;
                background: $color-white;
                border: 2px solid $color-border;
                border-radius: 50%;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;            
            }
        }

        &.slick-active {
            button {
                &:before {
                    background: $color-grey;
                    border: 2px solid $color-grey;
                }
            }
        }
    }
}

/* Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}
.slick-arrow.slick-hidden {
    display: none;
}
